@import "@/components/style.scss";
@import "~@feizheng/react-github-corner/dist/style.scss";
@import "~@feizheng/react-sw-update-tips/dist/style.scss";
@import "~@feizheng/react-demokit/dist/style.scss";

.app-container {
  p {
    margin-bottom: 20px;
    text-align: center;
    img {
      max-width: 800px;
      margin: 20px auto;
      width: 100%;
    }
  }
}
